<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
  </a>
  <ul>
      <label for="site" id="fabSiteLabel" class="fab-label hide-on-small-only">Site</label>
      <li id="site"><a href="/sites/add" class="btn-floating red"><i class="material-icons">business</i></a></li>
      <label for="prefix" id="fabPrefixLabel" class="fab-label hide-on-small-only">Prefix</label>
      <li id="prefix"><a href="/prefixes/add" class="btn-floating yellow darken-1"><i class="material-icons">cloud</i></a></li>
      <label for="address" id="fabAddressLabel" class="fab-label hide-on-small-only">Address</label>
      <li id="address"><a href="/addresses/add" class="btn-floating green"><i class="material-icons">place</i></a></li>
      <label for="customer" id="fabCustomerLabel" class="fab-label hide-on-small-only">Customer</label>
      <li id="customer"><a href="/customers/add" class="btn-floating blue"><i class="material-icons">person</i></a></li>
  </ul>
</div>