<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
  </a>
  <ul>
      <label for="address" id="fabAddressLabel" class="fab-label hide-on-small-only">Address</label>
      <li id="address"><a href="/addresses/add" class="btn-floating green"><i class="material-icons">place</i></a></li>
      <label for="customer" id="fabCustomerLabel" class="fab-label hide-on-small-only">Customer</label>
      <li id="customer"><a href="/customers/add" class="btn-floating blue"><i class="material-icons">person</i></a></li>
  </ul>
</div>