<nav class="light-blue darken-3">
  <div class="container nav-wrapper">
    <div class="brand-logo"><a href="/">IPAMer</a></div>
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
    <div class="right ml-3"><form action="/search/" method="post"><div class="input-group"><input type="text" id="search" name="search" class="white-text input-group-field" placeholder="Find Customer"><span class="input-group-btn"><button type="submit" class="btn input-group-inner-btn"><i class="input-group-icon material-icons">search</i></button></span></div></form></div>
    <ul class="right hide-on-med-and-down">
      <li class="nav-item"><a href="/sites/status" class="nav-link  white-text">Sites</a></li>
      <li class="nav-item"><a href="/prefixes/status" class="nav-link white-text">Prefixes</a></li>
      <li class="nav-item"><a href="/customers/status" class="nav-link white-text">Customers</a></li>
    </ul>
  </div>
</nav>

<ul id="mobile-nav" class="sidenav">
  <li><a href="/sites/status">Sites</a></li>
  <li><a href="/prefixes/status">Prefixes</a></li>
  <li><a href="/customers/status">Customers</a></li>
</ul>