<nav class="light-blue darken-3">
  <div class="container nav-wrapper">
    <div class="brand-logo left"><a href="/">IPAMer</a></div>
    <div class="right ml-3"><form action="/search" method="get"><div class="input-group"><input type="text" id="name__ic" name="name__ic" class="white-text input-group-field" placeholder="Find a customer"><span class="input-group-btn"><button type="submit" class="btn input-group-inner-btn"><i class="input-group-icon material-icons">search</i></button></span></div></form></div>
    <ul class="right">
      <li class="nav-item"><a href="/customers/status" class="nav-link white-text">Customers</a></li>
    </ul>
  </div>
</nav>