<div class="container">
  <div class="row">
    <h5>Welcome to the API</h5>
    <div>
      <a href="/api/addresses" class="btn green lighten-2 mt-4">Get Addresses</a>
      <a href="/api/customers" class="btn green lighten-2 mt-4">Get Customers</a>
      <a href="/api/prefixes" class="btn green lighten-2 mt-4">Get Prefixes</a>
      <a href="/api/sites" class="btn green lighten-2 mt-4">Get Sites</a>
    </div>
    <br>
    <br>
    <h5>single customer::</h5>
    <p>/api/customers/ and then append the customer's name, including any spaces - or replace spaces with %20 => <a href="/api/customers/Reserved">example</a>, /api/customers/Reserved</p>
  </div>
</div>