<div class="container">
  <div class="right">
    <a href="/addresses/assign" class="btn green lighten-2 mt-4 mr-2" id="assignIPBtn">Assign IP Address</a>
    <a href="/customers/add" class="btn blue lighten-2 mt-4 mr-2">Create Customer</a>
  </div>
</div>