<main>
  <div class="row">
    <div class="col s12">
      <h3 class="center">iPAM for Service Providers</h3>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li><a href="/sites/add" class="btn-floating red"><i class="material-icons">business</i></a></li>
        <li><a href="/prefixes/add" class="btn-floating yellow darken-1"><i class="material-icons">cloud</i></a></li>
        <li><a href="/addresses/add" class="btn-floating green"><i class="material-icons">place</i></a></li>
        <li><a href="/customers/add" class="btn-floating blue"><i class="material-icons">person</i></a></li>
    </ul>
  </div>
</main>