/* Materialize Overrides*/
.btn-large i {
  font-size: 36px;
}
/* End Materialize Overrides */

/* Local */
td {
  word-break: break-all;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.fab-label {
  color: black;
}

.formLabel {
  font-size: 1rem;
}

.hidden {
  display: none;
}

.input-group {
  display: inline-table;
}

.input-group-btn {
  display: table-cell;
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  width: auto;
}

.input-group-field {
  width: auto !important;
}

.input-group-icon {
  position: relative;
  top: -12px;
}

.input-group-inner-btn {
  padding: 0 8px !important;
  background-color: #0277bd;
  border: none;
  box-shadow: none;
}

.mb-2 {
  margin-bottom: .5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mb-5 {
  margin-bottom: 3rem;
}

.ml-2 {
  margin-left: .5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.ml-5 {
  margin-left: 3rem;
}

.mr-2 {
  margin-right: .5rem;
}
.mr-3 {
  margin-right: 1rem;
}
.mr-4 {
  margin-right: 1.5rem;
}
.mr-5 {
  margin-right: 3rem;
}

.mt-2 {
  margin-top: .5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mt-5 {
  margin-top: 3rem;
}

.no-padding {
  padding: 0;
}

.pl-1 {
  padding-left: .25em;
}

.pl-2 {
  padding-left: .5em;
}

.pl-3 {
  padding-left: 1em;
}

.pl-4 {
  padding-left: 1.5em;
}

.pl-5 {
  padding-left: 2em;
}

.popup-hidden {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

/* Make circles that indicate the steps of a form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.tab {
  display: none;
}

.width-main {
  min-width: 400px;
}

#alert_msg {
  display: none;
}

#butInstall {
  display: none;
}

#fabAddressLabel {
  position: relative;
  left: -53px;
  top: 32px;
  font-size: 1em;
}

#fabCustomerLabel {
  position: relative;
  left: -63px;
  top: 32px;
  font-size: 1em;
}

#fabPrefixLabel {
  position: relative;
  left: -45px;
  top: 32px;
  font-size: 1em;
}

#fabSiteLabel {
  position: relative;
  left: -39px;
  top: 32px;
  font-size: 1em;
}

#info_msg {
  display: none;
}

#messageForm {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#messageForm input {
  border: 0;
  padding: 10px;
  width: 80%;
  margin-right: .5%;
}

#messages {
  list-style-type: none; margin: 0; padding: 0;
}

#messages li {
  padding: 5px 10px;
}

@media screen and (max-width: 600px) {
  #search {
    width: 100px;
  }
}