<div class="row mt-4">
  <h5 class="center-align">Add Site</h5>
  <form action="/sites/add" method="POST" class="col s12 ml-3 mr-3" id="addSiteForm">
    <div class="row ">
      <div class="input-field col s8 offset-s2 m6 offset-m3 l3 offset-l3">
        <input type="text" name="name" id="name" data-length="50" value="{{name}}" autofocus required>
        <label for="name">Name</label>
      </div>
      <div class="input-field col s8 offset-s2 m6 offset-m3 l3">
        <input type="text" name="alias" id="alias" data-length="50" value="{{alias}}">
        <label for="alias">Alias</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8 offset-s2 m6 offset-m3 l3 offset-l3">
        <input type="text" name="description" id="description" data-length="50" value="{{description}}">
        <label for="description">Description</label>
      </div>
    </div>
    <div class="center-align mb-5">
      <button class="btn" type="submit" name="addSite">Add</button>
    </div>
  </form>
</div>