<div class="container">
  <h4>Sites</h4>
  <div class="row mt-4">
    <div class="col s12 no-padding">
      <table>
        <thead class="grey lighten-3">
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {{#each site}}
          <tr>
            <td><a href="/sites/site/{{this.id}}">{{this.name}}</a></td><td>{{this.description}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>