<div class="row mt-4">
  <div class="col s12">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>IP Address</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {{#each customer}}
        <tr>
          <td>{{this.name}}</td><td>{{this.addresses}}</td><td>{{this.description}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>